<app-header></app-header>
<ion-content style="--background: #F5F5F5 !important;">
	<!-- <ion-item lines="full"  class="fixed-heading">
		<ion-row style="width: 100%;">
			<ion-col size="3"   class="selectedArtist highlightArtist">
				<span>Actors</span>
			</ion-col>
			<ion-col size="3" (click)="opencrew()"   class="selectedArtist ">
				<span>Crews</span>
			</ion-col>
			<ion-col size="4" (click)="openproducer()"   class="selectedArtist">
				<span>Producers</span>
			</ion-col>
			<ion-col size="2">
				<ion-button size="small" id="filterBtn" (click)="search()">Filter</ion-button>
			</ion-col>
		</ion-row>
	</ion-item> -->

	<ion-item style="width: 100%;" class="fixed-heading">
		<ion-row style="width: 100%;">
		  <ion-col size="3"  class="selectedArtist highlightArtist">
			<span>Actor</span>
		  </ion-col>
		  <ion-col size="2"  class="selectedArtist " [routerLink]="['/user']">
			<span>Crew</span>
		  </ion-col>
		  <ion-col size="4" class="selectedArtist" [routerLink]="['/user/producer']">
			<span>Producer</span>
		  </ion-col>
		  <ion-col size="3" class="selectedArtist " [routerLink]="['/user/vendor']">
			<span>Vendor</span>
		  </ion-col>
		</ion-row>
		<ion-button size="small" id="filterBtn" (click)="search()">Filter</ion-button>
	  </ion-item>

	
	<div style="margin-top: 55px;" >
	<ion-row style="width: 100%" class="shadow-sm">
		<ion-col size="6" class="profilecol" *ngFor="let talents of talentDetails | paginate: config; let i = index">
			<div class="profile" [routerLink]="['/user/talent/display', talents.usersId]">
				<img [src]="talents.profileImage" style="width:180px; height:180px; padding:3px" alt="...">
				<div class="border-right">
					<ion-card-header>
						<ion-card-title class="size-font" *ngIf="talents.age">{{talents.fullName}} , {{talents.age}}</ion-card-title>
					</ion-card-header>
					<ion-card-content style="height: 78px !important;">
						<p class="size-font"  *ngIf="talents.usersAddress.length">
							{{talents.usersAddress[0].customAddress}}
						</p>
						<span class="size-font" *ngIf="talents.gender  && talents.height && talents.weight">
							{{switchResult(talents.gender)}} , {{talents.heightInFeet}}, {{talents.weight}} lb
						</span>
					</ion-card-content>
					<ion-row></ion-row>
					<ion-row style="width: 100%;background: #F8F9FA !important;" class="mt-2 mb-0">
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<a *ngIf="talents.email" href="mailto:{{talents.email}}" target="_top" class="p-2" data-toggle="tooltip" data-placement="top" title="Email now"><i class="fas fa-envelope fa-lg text-secondary"></i></a>
						</ion-col>
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<a *ngIf="talents.phone" href="tel:{{talents.phone}}" class="p-2" data-toggle="tooltip" data-placement="top" title="Call now"><i class="fas fa-phone   fa-rotate-90 text-secondary"></i></a>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</ion-col>
	
	</ion-row>
	</div>
	<div style="padding-top: 12px; padding-bottom: 0;"><pagination-controls class="ngx-pagination"
		(pageChange)="pageChange($event)">
	</pagination-controls></div>
	
</ion-content>