<app-header></app-header>
<ion-content style="--background: #F5F5F5 !important;">
	<ion-item lines="full" class="fixed-heading">
		<ion-row style="width: 100%;">
			<ion-col size="4" (click)="highlight('Crew')" [ngClass]="{'highlightGig': isHighlited == 'Crew'}"
				class="selectedGig">
				<span style="font-size: 14px;">Crew Gigs</span>
			</ion-col>
			<ion-col size="4" (click)="highlight('Talent')" [ngClass]="{'highlightGig': isHighlited=='Talent'}"
				class="selectedGig">
				<span style="font-size: 14px;">Casting Calls</span>
			</ion-col>
			<ion-col size="4">
				<ion-button size="small" id="filterBtn" (click)="search()">Filter</ion-button>
			</ion-col>
		</ion-row>
	</ion-item>
	<div class="box h-100 w-100">
		<ion-item lines="full" style="width: 100%;">
			<ion-row style="width: 100%;">
				<ion-col size="5">
				</ion-col>
				<ion-col size="3" >
					<p class="box-heading size-font" *ngIf="type != 'Talent'">Type</p>
				</ion-col>
				<ion-col size="4">
					<p class="box-heading size-font"> Posted Date </p>
				</ion-col>
			</ion-row>
		</ion-item>
		<div *ngFor="let gigs of gigsDetails | paginate: config; let i = index">
			<ion-item lines="full" style="width: 100%; padding-bottom: 10px;">
				<div style="width: 100%;">
					<ion-row style="width: 100%;">
						<ion-col size="5" class="box-content">
							<p class="box-title size-font"
								[routerLink]="['/gigs/'+gigs.gigTypeName+'/display', gigs.gigId, gigs.gigType]">
								{{gigs.title}}</p>
							<p class="box-heading size-font">Location: {{gigs.location.customAddress}}</p>
							<p class="box-heading size-font">Payments: {{gigs.payment}}</p>
							<p class="box-heading size-font">Per diem provided: {{gigs.perDimeProvided}}</p>
						</ion-col>
						<ion-col size="3">
							<p class="box-heading size-font">{{gigs.gigTypeName}}</p>
						</ion-col>
						<ion-col size="4">
							<p class="box-heading size-font">{{gigs.startDateString}}</p>
						</ion-col>
					</ion-row>
					<ion-label class="box-heading size-font">Posted by:</ion-label>
					<ion-row style="width: 100%;">
						<ion-col size="2">
							<ion-thumbnail>
								<img src={{gigs.producerInfo.profileImage}}>
							</ion-thumbnail>
						</ion-col>
						<ion-col size="10" style="vertical-align: middle;">
							<!-- <ion-label color="primary" style="padding-top: 15px;">{{gigs.producerInfo.fullName}}
							</ion-label> -->
							<a *ngIf="(gigs.producerInfo.usersTypeId.length > 1 || gigs.producerInfo.usersTypeId.length == 1) && gigs.producerInfo.usersTypeId.indexOf('3') != -1 "[routerLink]="['/user/talent/display/', gigs.producerInfo.usersId]"><ion-label color="primary" style="padding-top: 15px;">{{gigs.producerInfo.fullName}}
							</ion-label></a>


							<a *ngIf="gigs.producerInfo.usersTypeId.length == 1 && gigs.producerInfo.usersTypeId.indexOf('4') != -1 "
								[routerLink]="['/user/producer/display/', gigs.producerInfo.usersId]">
								<ion-label color="primary" style="padding-top: 15px;">{{gigs.producerInfo.fullName}}
								</ion-label>
							</a>

							<a *ngIf="gigs.producerInfo.usersTypeId.length == 0"
								[routerLink]="['/user/producer/display/', gigs.producerInfo.usersId]">
								<ion-label color="primary" style="padding-top: 15px;">{{gigs.producerInfo.fullName}}
								</ion-label>
							</a>

							<a *ngIf="(gigs.producerInfo.usersTypeId.length > 1 || gigs.producerInfo.usersTypeId.length == 1) && gigs.producerInfo.usersTypeId.indexOf('3') == -1 && gigs.producerInfo.usersTypeId.indexOf('5') != -1"
								[routerLink]="['/user/crew/display/', gigs.producerInfo.usersId]">
								<ion-label color="primary" style="padding-top: 15px;">{{gigs.producerInfo.fullName}}
								</ion-label>
							</a>
							<a *ngIf="(gigs.producerInfo.usersTypeId.length > 1 || gigs.producerInfo.usersTypeId.length == 1) && gigs.producerInfo.usersTypeId.indexOf('3') == -1 && gigs.producerInfo.usersTypeId.indexOf('6') != -1"
								[routerLink]="['/user/crew/display/', gigs.producerInfo.usersId]">
								<ion-label color="primary" style="padding-top: 15px;">{{gigs.producerInfo.fullName}}
								</ion-label>
							</a>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>
		</div>
	</div>
	<div style="padding-top: 12px; padding-bottom: 0;">
		<pagination-controls class="my-pagination" (pageChange)="pageChange($event)">
		</pagination-controls>
	</div>
	<div *ngIf='noGigFound == 1' class="alert alert-danger alert-dismissible fade show" role="alert">
		No result found.
	</div>
	<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Please wait...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll> -->
</ion-content>
<app-footer [isLoggedIn]="usersId"></app-footer>