.p-3 {
    padding: 1rem!important;
    font-size: 20px;
}

.icon-color{
    color: red;
}

.inValid{
    border: 1px solid red;
}
.profileimg{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }