<app-back-header></app-back-header>
<ion-content>
	<div *ngIf="userProfileInfo">
		<div><img class="profileimg" [src]="userProfileInfo.profileImage">
			<ion-row style="margin-top: 5px;">
				<!-- <ion-col size="2">
					<a *ngIf="userProfileInfo.email" href="mailto:{{userProfileInfo.email}}" target="_top" class="p-3"
						data-toggle="tooltip" data-placement="top" title="Email now"><i
							class="fas fa-envelope fa-1x text-secondary"></i></a>
				</ion-col> -->
				<ion-col size="2">
					<a *ngIf="userProfileInfo.phone" href="tel:{{userProfileInfo.phone}}" class="p-3"
						data-toggle="tooltip" data-placement="top" title="Call now"><i
							class="fas fa-phone   fa-rotate-90 text-secondary"></i></a>
				</ion-col>
				<ion-col size="2">
					<span class="p-3" data-toggle="tooltip" data-placement="top" title=""
						data-original-title="Share profile" (click)="share()"><i
							class="fas fa-share-alt fa-1x text-secondary"></i></span>
				</ion-col>
				<ion-col size="2">
					<span class="p-3" [routerLink]="['/messages/gigchat/',userProfileInfo.usersId]"
						*ngIf="loggedInUsersId" data-toggle="tooltip" data-placement="top" title=""
						data-original-title="Message now"><i class="fas fa-comments fa-1x text-secondary"></i></span>
				</ion-col>
				<ion-col size="4">

				</ion-col>
				<ion-col size="2" (click)="addToFavorite()" *ngIf="isLoggedIn">
					<span class="p-3" data-toggle="tooltip" data-placement="top" title=""
						data-original-title="Message now">
						<i class="far fa-heart fa-1x text-dark" *ngIf="userProfileInfo.isFavourite == 0"></i>
						<i class="fas fa-heart fa-1x text-danger" *ngIf="userProfileInfo.isFavourite == 1"></i>
					</span>
				</ion-col>
			</ion-row>
		</div>
		<div style="padding: 3px">
			<div class="col-lg-12">
				<h5 class="card-title" style="margin-bottom: 0px ; margin-top: 8px;">
					{{userProfileInfo.fullName}}
				</h5>
				<div class="mt-2">
					<!-- <span class="size-font">{{userProfileInfo.age}},{{userProfileInfo.gender | gendertype}},
						{{userProfileInfo.heightInFeet}},
						{{userProfileInfo.weight}} lb</span> -->

						<ion-row style="width: 100%;">
							<ion-col size="2" *ngIf="userProfileInfo.age" style="padding: 0px;"><span class="size-font">{{userProfileInfo.age}}Yrs,</span></ion-col>
							<ion-col size="2" *ngIf="userProfileInfo.gender" style="padding: 0px;"><span class="size-font">{{userProfileInfo.gender | gendertype}},</span></ion-col>
							<ion-col size="2" *ngIf="userProfileInfo.height" style="padding: 0px;"><span class="size-font">{{userProfileInfo.heightInFeet}},</span></ion-col>
							<ion-col size="2" *ngIf="userProfileInfo.weight" style="padding: 0px;"><span class="size-font">{{userProfileInfo.weight}}lb</span></ion-col>
							<ion-col size="4"></ion-col>
						  </ion-row>
				</div>
				<div class="d-flex">
					<bar-rating [(rate)]="rate" *ngIf="loggedInUsersId != null" (rateChange)="addRating()" [max]="5" >
					</bar-rating>
					<bar-rating [(rate)]="rate" *ngIf="loggedInUsersId == null" [max]="5" ></bar-rating>
					<i class="fas fa-info-circle fa-lg text-dark ml-2" style="margin-top: 20px;"
						(click)="showDiv = !showDiv"></i>
				</div>
				<div class="form-group" *ngIf="isRatingVerify">
					<div class="my-3">
						<textarea class="form-control" [ngClass]="{ 'inValid': messageText}"
							[(ngModel)]="usersRatingText"></textarea>
						<input [(ngModel)]="lastIdRating" type="hidden">
						<div *ngIf="messageText">
							<ion-label color="danger"> {{messageText}}</ion-label>
						</div>
					</div>
					<div class="my-3">
						<textarea class="form-control" placeholder="How do you know this person?"
							[ngClass]="{ 'inValid': messageReasonText}" [(ngModel)]="usersRatingReasonText"></textarea>
						<div *ngIf="messageReasonText">
							<ion-label color="danger">{{messageReasonText}}</ion-label>
						</div>
					</div>
					<div class="my-3">
						<ion-button (click)="addRatingAndReview()">SUBMIT</ion-button>
					</div>
				</div>
				<div *ngIf="showDiv">
					<div class="h6">{{rate | number : '1.1-1'}} out of 5</div>
					<div *ngIf="totalUserRating > '1'">{{totalUserRating | number : '1.0-0'}} users ratings</div>
					<div *ngIf="totalUserRating == '1'">{{totalUserRating | number : '1.0-0'}} user rating</div>
					<div class="mb-2">
						<ion-row style="width: 100%;">
							<ion-col size="2">
								5 Star
							</ion-col>
							<ion-col size="8">
								<ion-progress-bar color="warning" style="padding-top: 14px;"
									value="{{fiveStarPercentage}}" buffer="1"></ion-progress-bar>
							</ion-col>
							<ion-col size="2">
								{{fiveStarPercentage * 100 | number : '1.0-0'}}%
							</ion-col>
						</ion-row>
						<ion-row style="width: 100%;">
							<ion-col size="2">
								4 Star
							</ion-col>
							<ion-col size="8">
								<ion-progress-bar color="warning" style="padding-top: 14px;"
									value="{{fourStarPercentage}}" buffer="1"></ion-progress-bar>
							</ion-col>
							<ion-col size="2">
								{{fourStarPercentage * 100 | number : '1.0-0'}}%
							</ion-col>
						</ion-row>
						<ion-row style="width: 100%;">
							<ion-col size="2">
								3 Star
							</ion-col>
							<ion-col size="8">
								<ion-progress-bar color="warning" style="padding-top: 14px;"
									value="{{threeStarPercentage}}" buffer="1"></ion-progress-bar>
							</ion-col>
							<ion-col size="2">
								{{threeStarPercentage | number : '1.0-0'}}%
							</ion-col>
						</ion-row>
						<ion-row style="width: 100%;">
							<ion-col size="2">
								2 Star
							</ion-col>
							<ion-col size="8">
								<ion-progress-bar color="warning" style="padding-top: 14px;"
									value="{{twoStarPercentage}}" buffer="1"></ion-progress-bar>
							</ion-col>
							<ion-col size="2">
								{{twoStarPercentage * 100 | number : '1.0-0'}}%
							</ion-col>
						</ion-row>
						<ion-row style="width: 100%;">
							<ion-col size="2">
								1 Star
							</ion-col>
							<ion-col size="8">
								<ion-progress-bar color="warning" style="padding-top: 14px;"
									value="{{oneStarPercentage}}" buffer="1"></ion-progress-bar>
							</ion-col>
							<ion-col size="2">
								{{oneStarPercentage * 100 | number : '1.0-0'}}%
							</ion-col>
						</ion-row>
					</div>
				</div>
				<span class="size-font">{{address.fullAddress}}</span>
				<!-- <div>
				
					<span class="size-font">Age:{{userProfileInfo.age}}</span>
				</div> -->
				<!-- <div>
					<span class="size-font">Gender:{{userProfileInfo.gender | gendertype}}</span>
				</div> -->
				<!-- <div>
					<span class="size-font">Height:{{userProfileInfo.heightInFeet}}</span>
				</div> -->
				<!-- <div>
					<span class="size-font">Weight:
						{{userProfileInfo.weight}} lb</span>
				</div> -->

				<br>
				<span class="size-font"
					*ngIf="userProfileInfo.usersBio && showMore == 'Show More' && userProfileInfo.usersBio.length > 200">
					{{userProfileInfo.usersBio | viewmore:'half' | titlecase}}
				</span>
				<span class="size-font"
					*ngIf="userProfileInfo.usersBio && showMore == 'Show Less' || !(userProfileInfo.usersBio.length >  200)">
					{{userProfileInfo.usersBio}}
				</span>
				<div *ngIf="userProfileInfo.usersBio.length > 200">
					<ion-label color="primary" (click)="showmore()" [innerHtml]="showMore"></ion-label>
				</div>
				<div style="margin-top: 8px;">
					<span class="size-font">Joined on {{userProfileInfo.registerDateTime}}</span>
				</div>
				<div style="margin-top: 8px;">
					<div *ngFor="let socialMediaLinks of socialMediaLinksDetails; let i = index">
						<span class="size-font" *ngIf="socialMediaLinks.socialMediaLink">
							IMDB Link : <a href="{{socialMediaLinks.socialMediaLink}}"
								target="_blank">{{socialMediaLinks.socialMediaLink}}</a>
						</span>
					</div>
					<div *ngIf="userProfileInfo.websiteLink">
						<span class="size-font">
							Website : <a href="{{userProfileInfo.websiteLink}}"
								target="_blank">{{userProfileInfo.websiteLink}}</a>
							<ion-icon slot="end" name="open" color="medium" style="font-size: 15px;
								margin-left: 5px;">
							</ion-icon>
						</span>

					</div>
					<div *ngIf="userProfileInfo.resume">
						<span class="size-font">
							Resume : <a href="{{userProfileInfo.resume}}" target="_blank">Click To Download</a>
						</span>
					</div>
				</div>

			</div>
			<div class="col-lg-12 mt-4" *ngIf="userProfileInfo.usersTypeId.indexOf('6') != -1">
				<h5 class="card-title">Vendor info</h5>
				<div *ngIf="userProfileInfo.equipmentRentalDetails">
					<span class="size-font"> Equipment Rentals: {{userProfileInfo.equipmentRentalDetails}} </span>
				</div>
				<div *ngIf="userProfileInfo.accounting != ''">
					<span class="size-font"> Accounting / Payroll: {{userProfileInfo.accounting == '1' ? 'Yes' : 'No'}}
					</span>
				</div>
				<div *ngIf="userProfileInfo.audio != ''">
					<span class="size-font"> Audio / Sound: {{userProfileInfo.audio == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.catering != ''">
					<span class="size-font"> Catering:{{userProfileInfo.catering == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.distribution  != ''">
					<span class="size-font"> Distribution : {{userProfileInfo.distribution == '1' ? 'Yes' : 'No'}}
					</span>
				</div>
				<div *ngIf="userProfileInfo.insurance != ''">
					<span class="size-font"> Insurance: {{userProfileInfo.insurance == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.legal  != ''">
					<span class="size-font"> Legal : {{userProfileInfo.legal == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.postProduction != ''">
					<span class="size-font"> Post Production : {{userProfileInfo.postProduction == '1' ? 'Yes' : 'No'}}
					</span>
				</div>
				<div *ngIf="userProfileInfo.propsRental != ''">
					<span class="size-font"> Props Rental & Supplies:
						{{userProfileInfo.propsRental == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.security != ''">
					<span class="size-font"> Security: {{userProfileInfo.security == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.stagesStudios != ''" class="m-0">
					<span class="size-font"> Stages & Studios: {{userProfileInfo.stagesStudios == '1' ? 'Yes' : 'No'}}
					</span>
				</div>
				<div *ngIf="userProfileInfo.talentCasting != ''">
					<span class="size-font"> Talent / Casting: {{userProfileInfo.talentCasting == '1' ? 'Yes' : 'No'}}
					</span>
				</div>
				<div *ngIf="userProfileInfo.transportation != ''">
					<span class="size-font"> Transportation: {{userProfileInfo.transportation == '1' ? 'Yes' : 'No'}}
					</span>
				</div>
				<div *ngIf="userProfileInfo.travelAccommodations != ''">
					<span class="size-font"> Travel / Accommodations:
						{{userProfileInfo.travelAccommodations == '1' ? 'Yes' : 'No'}} </span>
				</div>
				<div *ngIf="userProfileInfo.wardrobeCostumes != ''">
					<span class="size-font"> Wardrobe / Costumes:
						{{userProfileInfo.wardrobeCostumes == '1' ? 'Yes' : 'No'}} </span>
				</div>
			</div>
			<div class="col-lg-12 mt-4" *ngIf="userProfileInfo.usersTypeId.indexOf('5') != -1">
				<h5 class="card-title">Crew info</h5>
				<div *ngIf="userProfileInfo.jobInterestedInDetails">
					<span class="size-font">Job interested in: {{userProfileInfo.jobInterestedInDetails}} </span>
				</div>
				<div *ngIf="userProfileInfo.experiencedInDetails">
					<span class="size-font">Experienced in: {{userProfileInfo.experiencedInDetails}} </span>
				</div>
				<div *ngIf="userProfileInfo.equipmentOwned">
					<span class="size-font">Equipment Owned : {{userProfileInfo.equipmentOwnedText}} </span>
				</div>
			</div>
			<div class="col-lg-12 mt-4" *ngIf="userProfileInfo.usersTypeId.indexOf('3') != -1">
				<h5 class="card-title">Talent info</h5>
				<div *ngIf="userProfileInfo.hairColor">
					<span class="size-font"> Hair Color : {{userProfileInfo.hairColor | titlecase}}</span>
				</div>
				<div *ngIf="piercings">
					<span class="size-font">Piercings : {{piercings}}</span>
				</div>
				<div *ngIf="tattoos">
					<span class="size-font">Tattoos : {{tattoos}}</span>
				</div>
				<div *ngIf="userProfileInfo.willingToTravelDetails">
					<span class="size-font">Willing To Travel?: {{userProfileInfo.willingToTravelDetails}}</span>
				</div>
				<div *ngIf="userProfileInfo.unionDetails">
					<span class="size-font">Union?:{{userProfileInfo.unionDetails}}</span>
				</div>
				<div *ngIf="userProfileInfo.race">
					<span class="size-font">Race : {{userProfileInfo.race | titlecase}} </span>
				</div>
			</div>
			<div class="col-lg-12 mt-4">
				<h5 class="card-title">Photos/Videos</h5>
				<ion-row>
					<ion-col size="3" *ngFor="let usersImages of usersImagesDetails; let i = index">
						<img [src]="usersImages.image" class="subImg">
					</ion-col>
				</ion-row>
				<div *ngIf="usersImagesDetails.length == 0" class="alert alert-danger alert-dismissible fade show"
					role="alert">
					No photos or videos found.
				</div>
			</div>
			<div class="col-lg-12 mt-4">
				<h5 class="card-title">Rating & Reviews</h5>
				<div class="mb-3" *ngFor="let reviews of reviewDetails; let i = index">
					<small class="bg-success text-light rounded-sm p-1">{{reviews.ratingVal}}<i
							class="fas fa-star ml-1"></i></small>
					<strong class="ml-2 size-font"><span>{{reviews.ratingByInfo.fullName}}</span>, Plainfield,
						{{reviews.createdAt * 1000 | date:'dd/MM/yyyy'}}</strong><br>
					<span class="size-font">{{reviews.ratingText}}</span>
				</div>
			</div>
		</div>
	</div>
</ion-content>