.fixed-heading{
    width: 100%;
    position: fixed;
    z-index: 999;
    background: #F5F5F5;
}

.fixed-headingPostGig{
    background: #F5F5F5 !important;
    width: 100%;
    position: fixed;
    z-index: 999;
     padding-left: 15px;
     padding-top: 10px;
     padding-bottom: 10px;

  }

  .pac-container .pac-logo hdpi{
      position: absolute!important;
      width: 90%;
  }

  .highlightedTab{
     background:#3880ff;
     color: white !important;
  }

  .tabItem{
    // width: 70%;
    // float: left;
    text-align: center;
    color: #3880ff;
    // padding-top: 8px;
    // height:40px
  }

 