#footer-btn1 {
    background: #C1270B !important;
    color: white;
    height: 50px;
    margin-right: 1px;
    font-size: 12px;
}
#footer-btn2 {
    background: #C1270B !important;
    color: white;
    height: 50px;
    margin-left: 1px;
    font-size: 12px;
}