<ion-content >
  <!-- Begin page content -->
<div class="flex-shrink-0 ">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3">
          <div class="card">
              <form [formGroup]="searchForm" (submit)="onSearch()">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <div class="input-group">
                <input type="text" class="form-control"  placeholder="User Name" formControlName="fullName" >
                </div>
            </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Age</label>
                <div class="input-group">
                <select class="form-control" formControlName="minAge">
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
                  <option value="35">35</option>
                  <option value="40">40</option>
                  <option value="45">45</option>
                  <option value="50">50</option>
                  <option value="55">55</option>
                </select>
                <select class="form-control ml-2" formControlName="maxAge">
                  <option value="25">25</option>
                  <option value="30">30</option>
                  <option value="35">35</option>
                  <option value="40">40</option>
                  <option value="45">45</option>
                  <option value="50">50</option>
                  <option value="55">55</option>
                  <option value="60">60</option>
                </select>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Radius</label>
                <select class="form-control" formControlName="radius">
                  <option value="0,5">0 to 5 miles</option>
                  <option value="6,20">6 to 20 miles</option>
                  <option value="21,50">21 to 50 miles</option>
                  <option value="51,100">51 to 100 miles</option>
                  <option value="101" >100+ miles</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Gender</label>
                <div class="row">
                  <div class="col-6" *ngFor="let data of genderArray">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="data.selected" [ngModelOptions]="{standalone: true}"  (change) ="selectGenderData($event)">
                      <label class="form-check-label" for="defaultCheck1">
                        {{data.label}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Jobs interested in</label>
                <div class="row">
                  <div class="col-6" *ngFor="let data of jobInterestedInArray">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="data.selected" [ngModelOptions]="{standalone: true}"  (change) ="selectJobInterestedInData($event)">
                      <label class="form-check-label" for="defaultCheck1">
                        {{data.label}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Experienced in</label>
                <div class="row">
                  <div class="col-6" *ngFor="let data of experiencedInArray">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="data.selected" [ngModelOptions]="{standalone: true}"  (change) ="selectExperiencedIn($event)">
                      <label class="form-check-label" for="defaultCheck1">
                        {{data.label}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                    <label for="exampleInputEmail1">Equipment owned</label>
                <div class="row">
                  <div class="col-6">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="equipmentOwned" id="inlineRadio1" value="1">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div>
                  </div>
                  <div class="col-6">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="equipmentOwned" id="inlineRadio2" value="0">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                  </div>
                </div>
              </div>
             
              <div class="form-group">
                <label for="exampleInputEmail1">Day rate</label>
                <div class="input-group">
               <input type="text" class="form-control"  placeholder="Min Day Rate" formControlName="minDayrate" >
               <input type="text" class="form-control"  placeholder="Max Day Rate" formControlName="maxDayrate" >
                </div>
              </div>

              <div class="form-group">
                  <label for="exampleInputEmail1">City/State</label>
                  <div class="input-group">
                 <input type="text" class="form-control"  placeholder="City/State" formControlName="cityState" >
                  </div>
              </div>

              <!-- <div class="form-group">
                <div class="row">
                  <div class="col-6" *ngFor="let data of producerOnlyArray">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="data.selected" [ngModelOptions]="{standalone: true}"  (change) ="selectProducerOnlyIn($event)">
                      <label class="form-check-label" for="defaultCheck1">
                        {{data.label}}
                      </label>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="d-flex text-right" style="align-items: center;">
                <!--<a href="#" class="ml-auto mr-2">Clear Filter</a>-->
                <!--<a class="">SEARCH</a>-->
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  </ion-content>
  <ion-footer>
    <div class="d-flex text-right w-100 py-3 px-2 " style="align-items: center;background: #999999">
      <button class="btn btn-primary shadow-sm" style="color:black !important; background: #ffffff;border:#ffffff"
        (click)="close()">CLOSE</button>
      <a href="javascript:void(0);" class="ml-auto mr-2" style="color: white;" (click)="clear()">Clear Filter</a>
      <button type="submit" class="btn btn-primary shadow-sm" (click)="onSearch()">SEARCH</button>
    </div>
  </ion-footer>