<app-header></app-header>
<ion-content *ngIf='myFavoritesArray.length > 0'>
  <ion-item lines="none" class="fixed-heading">
    <ion-row style="width: 100%;">
      <ion-col size="3">
        <p class="head-text">Favorites</p>
      </ion-col>
      <ion-col size="4">
      </ion-col>
      <ion-col size="3">
        <button id="removeBtn" (click)="removeSeleted($event)">Remove</button>
      </ion-col>
      <ion-col size="2">
        <button id="filterBtn" (click)="search()">Filter</button>
      </ion-col>
    </ion-row>
  </ion-item>
  <div class="box h-100">
    <ion-item lines="full">

      <ion-row style="width: 100%;">
        <ion-col size="6">
        </ion-col>
        <ion-col size="3">
          <p class="box-heading size-font">Type</p>
        </ion-col>
        <ion-col size="3">
          <p class="box-heading size-font"> Posted Date </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <div *ngIf='myFavoritesArray.length > 0'>
      
      <ion-item lines="full" *ngFor="let favorite of myFavoritesArray | paginate: config; let i = index">
        <ion-row style="width: 100%;">
          <ion-col size="1">
            <input type="checkbox" (change)="checkedSelected(favorite)" [(ngModel)]="favorite.selected"
              id="customCheck{{i+1}}">
          </ion-col>
          <ion-col size="5" class="box-content" *ngIf="favorite.moduleId == 2"
            [routerLink]="['/gigs/:type/display/', favorite.relatedDetails.gigId, favorite.relatedDetails.gigType]">
            <p class="box-title size-font" *ngIf="favorite.moduleId == 2">{{favorite.relatedDetails.title}}</p>
            <p class="box-heading size-font" *ngIf="favorite.moduleId == 2">
              {{favorite.relatedDetails.location.formattedAddressCustom}}</p>
          </ion-col>
          <ion-col size="5" class="box-content" *ngIf="favorite.moduleId == 1">
            <a *ngIf="favorite.relatedDetails.usersTypeId[0] == 3"
              routerLink="/user/talent/display/{{favorite.relatedDetails.usersId}}" class="stretched-link"></a>
            <a *ngIf="favorite.relatedDetails.usersTypeId[0] == 4"
              routerLink="/user/crew/display/{{favorite.relatedDetails.usersId}}" class="stretched-link"></a>
            <a *ngIf="favorite.relatedDetails.usersTypeId[0] == 5"
              routerLink="/user/producer/display/{{favorite.relatedDetails.usersId}}" class="stretched-link"></a>
            <a *ngIf="favorite.relatedDetails.usersTypeId[0] == 6"
              routerLink="/user/vendor/display/{{favorite.relatedDetails.usersId}}" class="stretched-link"></a>
            <p class="box-title size-font" *ngIf="favorite.moduleId == 1">{{favorite.relatedDetails.fullName}}</p>
            <p class="box-heading size-font" *ngIf="favorite.moduleId == 1">
              {{favorite.relatedDetails.usersAddress[0].fullAddress}}</p>
          </ion-col>
          <ion-col size="3">
            <p class="box-heading size-font" *ngIf="favorite.moduleId == 2">{{gigType(favorite.relatedDetails.gigType)}}
            </p>
            <div *ngIf="favorite.moduleId == 1">
              <p class="box-heading size-font" *ngFor="let items of favorite.relatedDetails.usersType">
                {{items.itemName}}</p>
            </div>
          </ion-col>
          <ion-col size="3" style="padding-right: 0px; padding-left: 0px;">
            <p class="box-heading size-font" *ngIf="favorite.moduleId == 2">
              {{favorite.createdAt * 1000 | date:'dd/MM/yyyy'}} </p>
            <p class="box-heading size-font" *ngIf="favorite.moduleId == 1">
              {{favorite.createdAt * 1000 | date:'dd/MM/yyyy'}} </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
   
      <div *ngIf='myFavoritesArray.length === 0' class="alert alert-danger alert-dismissible fade show" role="alert">
        No result found.
      </div>
   
  </div>
  <div style="padding-top: 12px; padding-bottom: 0;">
    <pagination-controls class="my-pagination" (pageChange)="pageChange($event)">
    </pagination-controls>
  </div>
</ion-content>